{
  "extends": [
    "@react-native-community",
    "@babel/plugin-syntax-jsx"
  ],
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }]
  },
  "parser": "@babel/plugin-syntax-jsx",
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["@babel/plugin-syntax-jsx"]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-jsx"
  ]
}